{% extends "template/hflayout.html" %}


{% block head %}
	<title>已面试人员</title>
	
	<style></style>
{% endblock %}



{% block content %}
	<table class="table table-hover table-bordered">
		<tbody  >
				<tr>
					<th width="10%">姓名</th>
					<th width="5%">性别</th>
					<th width="20%">评分</th>
					<th width="30%">其他部门</th>
					<th width="25%">操作</th>
				</tr>
			{% for value in data %}
				<tr>
					<td><a href="{{ base_url }}Student/getStuInfoWithReview/id/{{ value['id'] }}">{{ value['name'] }}</a></td>
					<td>{{ value['gender'] }}</td>
					<td>{{ value['score'] }}</td>
					<td>
						{% if value['department0'] != name %}
							{{ value['department0'] }}
						{% endif %}
						{% if value['department1'] != name and value['department0'] != value['department1'] %}
							{{ value['department1'] }}
						{% endif %}
						{% if value['department2'] != name and value['department0'] != value['department2'] and value['department1'] != value['department2'] %}
							{{ value['department2'] }}
						{% endif %}
						{% if value['department3'] != name and value['department0'] != value['department3'] and value['department1'] != value['department3'] and value['department2'] != value['department3'] %}
							{{ value['department3'] }}
						{% endif %}
						
					</td>
					<td>
						<button onclick="location.href='{{ base_url }}Department/hiring/id/{{ value['id'] }}'">录取</button>
    					<button onclick="location.href='{{ base_url }}Department/unhiring/id/{{ value['id'] }}'">取消录取</button>
					</td>

				</tr>
			{% endfor %}
			
		</tbody>
	</table>
	<nav aria-label="Page navigation" class="page navbar-fixed-bottom">
		<ul class="pagination">
	    	<li>
		    	<a href="{{ base_url }}Department/choose/page/{{ prePage }}" aria-label="Previous">
		        	<span aria-hidden="true">上一页</span>
		    	</a>
	    	</li>
	    	{% for item in 1..num %}
		    	<li><a href="{{ base_url }}Department/choose/page/{{ item }}">{{ item }}</a></li>
			{% endfor %}
			<li>
		    	<a href="{{ base_url }}Department/choose/page/{{ nextPage }}" aria-label="Next">
		    		<span aria-hidden="true">下一页</span>
		    	</a>
			</li>
		</ul>
	</nav>
{% endblock %}