{% extends "template/hflayout.html" %}


{% block head %}
	<title>冲突人员</title>
	
{% endblock %}



{% block content %}
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>姓名</th>
				<th>性别</th>
				<th>其他部门</th>
			</tr>
		</thead>
		<tbody >
				
			{% for value in data %}
				<tr>
					<td><a href="{{ base_url }}Student/getStuInfoWithReview/id/{{ value['id'] }}">{{ value['name'] }}</a></td>
					<td>{{ value['gender'] }}</td>
					<td>
						{% if value['employ_department'] != name %}
							{{ value['employ_department'] }}
						{% endif %}
						{% if value['employ_department1'] != name and value['employ_department'] != value['employ_department1'] %}
							{{ value['employ_department1'] }}
						{% endif %}
						{% if value['employ_department2'] != name and value['employ_department'] != value['employ_department2'] and value['employ_department1'] != value['employ_department2'] %}
							{{ value['employ_department2'] }}
						{% endif %}
						{% if value['employ_department3'] != name and value['employ_department'] != value['employ_department3'] and value['employ_department1'] != value['employ_department3'] and value['employ_department2'] != value['employ_department3'] %}
							{{ value['employ_department3'] }}
						{% endif %}
						
					</td>
				</tr>
			{% endfor %}
			
		</tbody>
	</table>
	<nav aria-label="Page navigation" class="page navbar-fixed-bottom">
		<ul class="pagination">
	    	<li>
		    	<a href="{{ base_url }}Department/getConflictStu/page/{{ prePage }}" aria-label="Previous">
		        	<span aria-hidden="true">上一页</span>
		    	</a>
	    	</li>
	    	{% for item in 1..num %}
		    	<li><a href="{{ base_url }}Department/getConflictStu/page/{{ item }}">{{ item }}</a></li>
			{% endfor %}
			<li>
		    	<a href="{{ base_url }}Department/getConflictStu/page/{{ nextPage }}" aria-label="Next">
		    		<span aria-hidden="true">下一页</span>
		    	</a>
			</li>
		</ul>
	</nav>
{% endblock %}