{% extends "template/hflayout.html" %}


{% block head %}
	<title>部门首页</title>
	
{% endblock %}



{% block content %}
	<div class="jumbotron">
		<div class="container-fluid">
		  <div class="row">
		    <div class="col-md-2 col-xs-1"></div>
		    <div class="col-md-8 col-xs-10">
				<h2>系统使用简介</h2>
				<p>1.报名阶段:新生报完名会有一个报名号,用于快速找到新生.</p>
				<p>2.面试阶段:面试阶段主页面是报名新生的列表,点击名字可以查看完整信息,信息页面<span style="color:red">请务必提交免面试官意见和评分</span>,否则在已面试人员里不会出现该学生名字,也无法录取该学生,每个面试部门的面试意见和评分不会相互影响.面试时如果无法快速找到学生可以用其报名时的电话号来查找该学生</p>
				<p>3.选人阶段:已面试人员中显示了所有面试过的人员,学生按评分高低排序,点击名字可以查看详细信息以及面试官的意见和评分并且可以录取和取消录取.</p>
				<p>4.冲突人员:如果两个或多个部门的同时选中一个人那么这个人就会进入冲突人员列表,冲突人员可以自行与其他部门商量,也可以在最后的抢人阶段由管理员调剂.</p>
				<p>5.未选人员:已面试未录取的人员(包含冲突后调剂取消录取的人员)</p>
			</div>
		    <div class="col-md-2 col-xs-1"></div>
		  </div>
		</div>
	</div>
{% endblock %}