{% extends "template/hflayout.html" %}


{% block head %}
	<title>面试</title>

{% endblock %}

{% block content %}
	<form action="{{ base_url }}Department/findStuI/" method="post" class="form-inline navbar-right">
		<input type="text" placeholder="输入手机号" name="phoneNum" class="form-control ">
		<input type="submit" class="btn btn-default">
	</form>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th width="10%">编号</th>
				<th width="10%">姓名</th>
				<th width="5%">性别</th>
				<th width="35%">电话</th>
				<th width="35%">其他部门</th>
			</tr>
		</thead>
		<tbody>

			{% for value in data %}
				<tr>
					<td>{{ value['id'] }}</td>
					<td><a href="{{ base_url }}Student/getStuInfo/id/{{ value['id'] }}">{{ value['name'] }}</a></td>
					<td>{{ value['gender'] }}</td>
					<td>{{ value['phonenum'] }}</td>
					<td>
						{% if value['department0'] != name %}
							{{ value['department0'] }}
						{% endif %}
						{% if value['department1'] != name and value['department0'] != value['department1'] %}
							{{ value['department1'] }}
						{% endif %}
						{% if value['department2'] != name and value['department0'] != value['department2'] and value['department1'] != value['department2'] %}
							{{ value['department2'] }}
						{% endif %}
						{% if value['department3'] != name and value['department0'] != value['department3'] and value['department1'] != value['department3'] and value['department2'] != value['department3'] %}
							{{ value['department3'] }}
						{% endif %}

					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
	<nav aria-label="Page navigation" class="page ">
		<ul class="pagination">
	    	<li>
		    	<a href="{{ base_url }}Department/interview/page/{{ prePage }}" aria-label="Previous">
		        	<span aria-hidden="true">上一页</span>
		    	</a>
	    	</li>
	    	{% for item in 1..num %}
		    	<li><a href="{{ base_url }}Department/interview/page/{{ item }}">{{ item }}</a></li>
			{% endfor %}
			<li>
		    	<a href="{{ base_url }}Department/interview/page/{{ nextPage }}" aria-label="Next">
		    		<span aria-hidden="true">下一页</span>
		    	</a>
			</li>
		</ul>
	</nav>
{% endblock %}