{% extends "template/layout.html" %}


{% block head %}
	<title>登 录</title>
	<link rel="stylesheet" href="{{ source_url }}css/bootstrap/bootstrap.min.css">
	
{% endblock %}

{% block content %}
	<div class="container container-fluid">
		<br><br><br>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class=" panel panel-info">
				  <div class="panel-heading"><h4>部门登录</h4></div>
				  <div class="panel-body" style="padding:30px;">
					 <form action="{{ base_url }}Department/doLogin" method="POST">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">用&nbsp;户&nbsp;名</span>
							<input class="form-control" type="text" name="username" aria-describedby="sizing-addon1" />
							
						</div>
						<br>
						<div class="input-group input-group-lg">
							<span class="input-group-addon">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</span>
							<input class="form-control" type="password" name="password" />
						</div>
						<br>
						<div class="input-group input-group-lg">
							<span class="input-group-addon">验&nbsp;证&nbsp;码</span>
							<input class="form-control" type="text" name="verify" />
							<span class="input-group-addon" style="padding:0;" id="basic-addon2">
								<img style="height:100%;" src="{{ base_url }}ShowVerify" alt="验证码" onclick="this.src='{{ base_url }}ShowVerify'">
							</span>
						</div>
						<br>
						<input type="submit" class="btn btn-info btn-lg pull-right" value=" 登  录 " />
						
					</form>
				  </div>
				</div>		
			</div>
			<div class="col-md-3"></div>
		</div>
		
		
			
	</div>
	
{% endblock %}