{% extends "template/layout.html" %}


{% block head %}
	<title>Index Page</title>
	
{% endblock %}



{% block content %}
	<table>
		<tbody class="table table-hover table-bordered">
				<tr>
					<th>姓名</th>
					<th>性别</th>
					<th>评分</th>
					<th>其他部门</th>
				</tr>
			{% for value in data %}
				<tr>
					<td>{{ value['name'] }}</td>
					<td>{{ value['gender'] }}</td>
					<td>{{ value['score'] }}</td>
					<td>
							<a href="{{ base_url }}Root/setDep/id/{{ value['id'] }}/depName/{{ value['employ_department'] }}">{{ value['employ_department'] }}</a>
							<a href="{{ base_url }}Root/setDep/id/{{ value['id'] }}/depName/{{ value['employ_department1'] }}">{{ value['employ_department1'] }}</a>
							<a href="{{ base_url }}Root/setDep/id/{{ value['id'] }}/depName/{{ value['employ_department2'] }}">{{ value['employ_department2'] }}</a>
							<a href="{{ base_url }}Root/setDep/id/{{ value['id'] }}/depName/{{ value['employ_department3'] }}">{{ value['employ_department3'] }}</a>
						
					</td>
				</tr>
			{% endfor %}
			
		</tbody>
	</table>
	<nav aria-label="Page navigation" class="page navbar-fixed-bottom">
		<ul class="pagination">
	    	<li>
		    	<a href="{{ base_url }}Department/getUnhiredStu/page/{{ prePage }}" aria-label="Previous">
		        	<span aria-hidden="true">上一页</span>
		    	</a>
	    	</li>
	    	{% for item in 1..num %}
		    	<li><a href="{{ base_url }}Department/getUnhiredStu/page/{{ item }}">{{ item }}</a></li>
			{% endfor %}
			<li>
		    	<a href="{{ base_url }}Department/getUnhiredStu/page/{{ nextPage }}" aria-label="Next">
		    		<span aria-hidden="true">下一页</span>
		    	</a>
			</li>
		</ul>
	</nav>
{% endblock %}