{% extends 'template/hflayout.html' %}

{% block head %}
    <title>学生信息</title>
{% endblock %}

{% block content %}
    <table class="table table-hover table-bordered">
    	<tbody>
    		<tr>
    			<td>姓名</td>
    			<td>{{ data['name'] }}</td>
    		</tr>
    		<tr>
    			<td>学号</td>
    			<td>{{ data['gender'] }}</td>
    		</tr>
    		<tr>
    			<td>性别</td>
    			<td>{{ data['studentid'] }}</td>
    		</tr>
    		<tr>
    			<td>专业班级</td>
    			<td>{{ data['class'] }}</td>
    		</tr>
    		<tr>
    			<td>手机</td>
    			<td>{{ data['phonenum'] }}</td>
    		</tr>
    		<tr>
    			<td>QQ</td>
    			<td>{{ data['qqnum'] }}</td>
    		</tr>
    		<tr>
    			<td>其他部门</td>
    			<td>
					{% if data['department0'] != name %}
						{{ data['department0'] }}
					{% endif %}
					{% if data['department1'] != name and data['department0'] != data['department1'] %}
						{{ data['department1'] }}
					{% endif %}
					{% if data['department2'] != name and data['department0'] != data['department2'] and data['department1'] != data['department2'] %}
						{{ data['department2'] }}
					{% endif %}
					{% if data['department3'] != name and data['department0'] != data['department3'] and data['department1'] != data['department3'] and data['department2'] != data['department3'] %}
						{{ data['department3'] }}
					{% endif %}
    			</td>
    		</tr>
    		<tr>
    			<td>自我介绍</td>
    			<td>{{ data['introduction'] }}</td>
    		</tr>
    		<form action="{{ base_url }}Department/putStuReview" method="post" class="form">
				<tr>
					<td>面试官评价</td>
					<td><textarea name="review" cols="30" rows="10" style="width:100%" class="form-control"></textarea></td>
				</tr>
				<tr>
					<td>评分</td>
					<td><input type="text" name="score" class="form-control"></td>
				</tr>
				<tr>
					<td><input type="hidden" name = "id" value="{{ data['id'] }}"></td>
					<td><input type="submit" value="提交" class="btn btn-default"></td>
				</tr>
			</form>
    	</tbody>
    </table>
{% endblock %}