{% extends "template/stulayout.html" %}


{% block head %}
	<title>招新页面</title>
	<link rel="stylesheet" type="text/css" href="{{ source_url }}dist/validate.css">
    <link rel="stylesheet" href="{{ source_url }}dist/css/frozen.css">
	
{% endblock %}

{% block content %}
	
	<div class="ui-form ui-border-t">
		<div class="title">
			<div class="ui-flex ui-flex-pack-center">
				<div class="ui-avatar-one"><span class="ui-flex ui-flex-pack-center" style="background-image:url({{ source_url }}img/band.JPG)"></span></div>
				
			</div>
			<h5 align="center">工大网管，欢迎“家”入</h5>
		</div>
		<form action="{{ base_url }}Student/doSubmit" enctype="multipart/form-data" method="post" id="stuForm">

			<div class="ui-form-item ui-border-b">
	            <label>
	                姓名
	            </label>
	            <input type="text" name="name" placeholder="姓名" data-required="true" data-pattern="[\u4e00-\u9fa5]" data-descriptions="name">
	            <a href="javascript:void(0);" onclick="delValue(this)" class="ui-icon-close">
	            </a>
        	</div>

			<div class="ui-form-item ui-border-b">
	            <label>
	                学号
	            </label>
	            <input type="text" name="studentid" placeholder="9位学号" data-required="true" data-pattern="\d{9}" data-descriptions="studentid" maxlength="9">
	            <a href="javascript:void(0);" onclick="delValue(this)" class="ui-icon-close">
	            </a>
        	</div>
			
			<ul class="ui-form-item ui-border-b ui-grid-trisect">
				<li>
					<label>
		                性别
		            </label>
				</li>
				<li>
					<div class="ui-form-item ui-form-item-radio ui-border-b">
			            
			            <label class="ui-radio" for="radio">
			                <input type="radio" name="gender" value="男">
			            </label>
			            <p>男</p>
			        </div>
				</li>
				<li>
					<div class="ui-form-item ui-form-item-radio ui-border-b">
			            
			            <label class="ui-radio" for="radio">
			                <input type="radio" name="gender" value="女">
			            </label>
			            <p>女</p>
			        </div>
				</li>
			</ul>
			
			<div class="ui-form-item ui-border-b">
	            <label>
	                专业班级
	            </label>
	            <input type="text" name="class" placeholder="例：计算机1701" data-required="true" data-descriptions="klass">
	            <a href="javascript:void(0);" onclick="delValue(this)" class="ui-icon-close">
	            </a>
        	</div>

		    <div class="ui-form-item ui-form-item-l ui-border-b">
		        <label class="ui-border-r">
		            中国 +86
		        </label>
		        <input type="text" name="phonenum" placeholder="请输入手机号码" data-required="true" data-pattern="^0?1[3|4|5|8][0-9]\d{8}$"  data-descriptions="phonenum" maxlength="11">
		        <a href="javascript:void(0);" onclick="delValue(this)" class="ui-icon-close">
	            </a>
		    </div>

        	<div class="ui-form-item ui-border-b">
	            <label>
	                QQ
	            </label>
	            <input type="text" name="qqnum" placeholder="QQ号码" data-required="true" data-pattern="[1-9]([0-9]{5,11})" data-descriptions="qqnum">
	            <a href="javascript:void(0);" onclick="delValue(this)" class="ui-icon-close">
	            </a>
        	</div>

	        <div class="ui-form-item ui-border-b">
	            <label>报名部门</label>
	            <div class="ui-select-group">
	                <div class="ui-select">
	                    <select name="department0">
	                        <option selected>意向部门1</option>
	                        <option value="技术部">技术部</option>
							<option value="影音部">影音部</option>
							<option value="宣传部">宣传部</option>
							<option value="策划部">策划部</option>
							<option value="采编部">采编部</option>
							<option value="外事部">外事部</option>
	                    </select>
	                </div>
	                <div class="ui-select">
	                    <select name="department1">
	                        <option selected>意向部门2</option>
	                        <option value="技术部">技术部</option>
							<option value="影音部">影音部</option>
							<option value="宣传部">宣传部</option>
							<option value="策划部">策划部</option>
							<option value="采编部">采编部</option>
							<option value="外事部">外事部</option>
	                    </select>
	                </div>
	            </div>
	        </div>
	        <div class="ui-form-item ui-border-b">
	            <div class="ui-select-group">
	                <div class="ui-select">
	                    <select name="department2">
	                        <option selected>意向部门3</option>
	                        <option value="技术部">技术部</option>
							<option value="影音部">影音部</option>
							<option value="宣传部">宣传部</option>
							<option value="策划部">策划部</option>
							<option value="采编部">采编部</option>
							<option value="外事部">外事部</option>
	                    </select>
	                </div>
	                <div class="ui-select">
	                    <select name="department3">
	                        <option selected>意向部门4</option>
	                        <option value="技术部">技术部</option>
							<option value="影音部">影音部</option>
							<option value="宣传部">宣传部</option>
							<option value="策划部">策划部</option>
							<option value="采编部">采编部</option>
							<option value="外事部">外事部</option>
	                    </select>
	                </div>
	            </div>
	        </div>
		    <div class="ui-form-item ui-form-item-textarea ui-border-b">
	            <label>
	                自我介绍
	            </label>
	            <textarea placeholder="爱好特长等" name="introduction" data-required="true" data-descriptions="introduction"></textarea>
	        </div>
			
			<div class="ui-form-item ui-form-item-l ui-border-b">
		        <label class="ui-border-r">
		        	<img src="{{ base_url }}ShowVerify" alt="验证码" onclick="this.src='{{ base_url }}ShowVerify'"/>
		        </label>
		        <input type="text" name="verify" placeholder="请输入验证码" maxlength="4">
		        <a href="javascript:void(0);" onclick="delValue(this)" class="ui-icon-close">
	            </a>
		    </div>

        	<!--  -->
        	<!--  -->
			<div class="ui-btn-wrap">
			    <button type="submit" class="ui-btn-lg ui-btn-primary" id="btn1">
			        提  交
			    </button>
			</div>

			<br><br>
		</form>
	</div>
	<div class="ui-flex ui-flex-pack-center">
	    <div>&copy; 2017 JS </div>
	</div>
	
	<script type="text/javascript" src="{{ source_url }}dist/js/zepto.min.js"></script>
	<script type="text/javascript" src="{{ source_url }}dist/js/frozen.js"></script>
	<script type="text/javascript" src="{{ source_url }}dist/zepto-mvalidate.js"></script>
	
	<script type="text/javascript">
		function delValue(obj){
			// console.log(obj);
			$(obj).parent().children('input').val('');
		}
	</script>
	

		<script type="text/javascript">
		$("#stuForm").mvalidate({
		    type:1,
		    validateInSubmit:true,
		    
		    descriptions: {
		    	name: {
		    		required: '请输入姓名',
		    		pattern: '你输入的姓名格式不正确'
		    	},
		    	studentid: {
		    		required: '请输入学号',
		    		pattern: '你输入的学号格式不正确'
		    	},
		    	klass: {
		    		required: '请输入班级'
		    	},
		    	phonenum: {
		    		required: '请输入手机号码',
		    		pattern: '你输入的手机格式不正确'
		    	},
		    	qqnum: {
		    		required: '请输入QQ号码',
		    		pattern: '你输入的QQ格式不正确'
		    	}
		    }
		})
	</script>
{% endblock %}