<!DOCTYPE html>
<html lang="en">
<head>

	{% block head %}
	{% endblock %}
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="{{ source_url }}css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ source_url }}css/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ source_url }}css/main.css">
    
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>